<h1>@Model.device.name</h1>
<h2><span style="font-weight:normal;">@Model.device.shortDesc</span></h2>

<div class="itemcontainer">

        <img class="itemimg" src="@Model.device.img" alt="@Model.device.name" />

        <div class="itemtxt">

        <table class="table">
            <tbody>
                @foreach (var row in Model.device.table)
                {
                    <tr>
                        @foreach (var col in row)
                        {
                            <th>
                            @foreach (var i in col)
                            {
                                @i<br>
                            }
                            </th>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @foreach (var it in Model.device.info){
            <p>@it</p>
        }
        </div>
</div>