<img class="img-thumbnail" src="@Model.device.img" alt="@Model.device.name" />
    <div class="text">
        <h2>@Model.device.name</h2>
        <p>@Model.device.shortDesc</p>
        <p>Цена: @Model.device.price.ToString("c")</p>
    </div>