
<h1>@Model.device.name</h1>
<h2>@Model.device.shortDesc</h2>

<div class="itemcontainer">

        <img class="itemimg" src="@Model.device.img" alt="@Model.device.name" />

        <div class="itemtxt">

        <table class="table">
            <tbody>
                @foreach (var row in Model.device.table)
                {
                    <tr>
                        @foreach (var item in row)
                        {
                            <td>@item</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
            
        <p>@Model.device.info</p>
        </div>
</div>