@{
    foreach (var device in Model.allDevices)
    {

        <div class="obj-container" href="/api/devices/@device.category/@device.name">
            <a class="nav-link" href="/api/devices/@device.category/@device.name">

            <img class="img-thumbnail" src="@device.img" alt="@device.name" />

            <div class="text">
                <h1>@device.name</h1>
                <p>@device.shortDesc</p>
                <p>Цена: @device.price.ToString("c")</p>
            </div>
            </a>
        </div>
        
    }
}
